<div class="mr10">
  <%= link_to likes_path(board_id: board.id), method: :post, id: "js-like-button-for-board-#{board.id}", remote: true do %>
    <div class="btn btn-primary bc_red">投票する！</div>
  <% end %>
</div>