<footer id='footer' class='footer-bottom bc_black'>
  <div class='container'>
    <div class='row'>
      <div class='center'>
        <div class='copyright'>
          <p class="c_white">Copyright © 2021. J's app</p>
        </div>
      </div>
    </div>
  </div>
</footer>